.container {
  display: flex;
}

/* Left Side  */
.login-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box .login-content {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-box .login-content .logo {
  width: 9.8rem;
  margin-bottom: 6.35rem;
}

.login-box .login-content .title {
  font-size: 3rem;
  font-weight: bold;
}

.login-box .login-content .description {
  letter-spacing: -0.11px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 4.3rem;
}

.login-box .login-content .login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.login-box .login-content .login-form label {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.1px;
  margin-bottom: 0.8rem;
}

.login-box .login-content .login-form .password-label {
  margin-top: 2.1rem;
}

.login-box .login-content .login-form input {
  background: var(--white-color) 0% 0% no-repeat padding-box;
  border: 2px solid #e3e4ea;
  border-radius: 3px;
  padding: 1.9rem 2rem 1.4rem 2rem;
  transition: border-color 0.5s;
  cursor: pointer;
}

.login-box .login-content .login-form input:hover,
.login-box .login-content .login-form input:focus {
  border-color: var(--primary-color);
}

.login-box .login-content .login-form input::placeholder {
  color: var(--grey-color);
}

.login-box .login-content .help {
  color: var(--grey-color);
  font-size: 1.4rem;
}

.login-box .login-content .login-form .login-button {
  margin: 3rem 0;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1.8rem 0 1.3rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.5s;
}

.login-box .login-content .login-form .login-button:hover {
  background-color: #0238b3;
}

/* Right side */
.img-box {
  flex: 1;
  height: 100vh;
}

.img-box .bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
